@model Jogador

@{
    ViewData["Title"] = "Edit";
}

<h1>Edicao de Jogador</h1>

<form method="post" action="@Url.Action("Atualizar")" enctype="multipart/form-data">
    
    <input type="Hidden" name="IdJogador" value="@ViewBag.Jogador.IdJogador">

    <label for="">Nome</label>
    <input type="text" name="Nome" value="@ViewBag.Jogador.Nome">

    <label for="">Email</label>
    <input type="email" name="Email" value="@ViewBag.Jogador.Email">

    <label for="">IdEquipe</label>
    <input type="number" name="IdEquipe" value="@ViewBag.Jogador.IdEquipe">

    @* <label for="Equipe"></label>
    <select name="IdEquipe" id="IdEquipe">
        <option value="0">Selecionar uma opcao: </option>
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
            if (equipe.IdEquipe == @ViewBag.Jogador.IdEquipe)
            {
              <option value="@equipe.IdEquipe" selected></option>@equipe.Nome  
            }
            else
            {
                <option value="@equipe.IdEquipe">@equipe.Nome</option>
            }
            
        }
    </select> *@

    <button type="submit">Atualizar</button>

</form>