@model Jogador

<link rel="stylesheet" href="~/css/Jogadores.css">

@{
    ViewData["Title"] = "Jogador";
}

@if (ViewBag.UserName == null)
{
    <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="Index">
        Login
    </a>
}   
else
{
 <main>

        <section class="container-grid cadastro-equipes">
            
            
            <form action="" class="frm-cad-equipe">
                <div class="cadequipe-titulo">
                    <h1>Cadastro de Jogadores</h1>
                    <hr>
                </div>
                
                
                <input class="campo-entrada" type="text" id="nome-jogador" placeholder="Digite o nome do Jogador:">
                <input class="campo-entrada" type="email" id="email-jogador" placeholder="Digite o Email do Jogador:">
                <input class="campo-entrada" type="password" id="senha" placeholder="Digite a Senha:">

                 <select class="campo-entrada" id="equipe-select">
                    @foreach (Equipe equipe in ViewBag.Equipe)
            {
                <option value="@equipe.IdEquipe">@equipe.Nome</option>
            }
                </select>

                <button>Cadastrar</button>
                
                
                
                
            </form>

            <!-- TABELA CADASTRO DE EQUIPES -->

          <table class="table table-striped table-responsive">
            <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Equipe</th>
            <th>Ações</th>
        </thead>

        <tbody>
            @foreach (Jogador jogador in ViewBag.Jogador)
            {
                <tr>
                    <td>@jogador.IdJogador</td>
                    <td>@jogador.Nome</td>
                    <td>@jogador.Email</td>
                    <td>
                        <img src="/img/Equipes/@jogador.Equipe.Imagem" alt="Imagem da equipe @jogador.Equipe.Nome" width="50px">
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Jogador" asp-action="Excluir" asp-route-id="@jogador.IdJogador">
                            <img class="yellow-trash" src="~/assets/trash.png" alt="">
                        </a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Jogador" asp-action="Editar" asp-route-id="@jogador.IdJogador">Editar</a>
                    </td>

                </tr>            
            }
        </tbody>
        </table>

        </section>
    </main>

   
}
